.middle-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@font-face {
    font-family: "Space Grotesk";
    src: url("../fonts/SpaceGrotesk-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

.post-name {
    font-family: "Space Grotesk", serif;
}

.post-text {
    font-family: "Montserrat", serif;
}