@font-face {
    font-family: "Space Grotesk";
    src: url("../fonts/SpaceGrotesk-Medium.ttf") format("truetype");
}

@font-face {
    font-family:"Titillium Web";
    src: url("../fonts/TitilliumWeb-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

.title {
    font-family: "Space Grotesk", serif;
    color: #EDF5E1;
}

.post-name {
    font-family: "Titillium Web", serif;
    color: #EDF5E1;
}

.post-text {
    font-family: "Montserrat", serif;
    color: #EDF5E1;
}

.user-name {
    font-family: "Titillium Web", serif;
    color: #EDF5E1;
}

.about-text {
    font-family: "Titillium Web", serif;
    color: #EDF5E1;
    font-size: large;
}

.navbar-text {
    font-family: "Titillium Web", serif;
    font-size: larger;
}

.warning-hidden-purple-text {
    font-family: "Titillium Web", serif;
    color: #5e0294;
    margin-left: 5vw;
}